body {font-family: arial; background-color: white; }
#myheader { background-color:#AB2567; border: 1px solid; color:#FFF; text-align: center;}
#diner {color:#000; text-indent: 20px; font-size: 260%;}
#diet {color: #00F; font-size: 200%;}
#energy {color:#F00; font-size:200%;}
#take {color:#000; text-indent: 20px; font-size: 260%;}
