body {font-family: arial; background-color: white; }
#myheader { background-color:#AB2567; border: 1px solid; color:#FFF; text-align: center;}
#diner {color:#000; text-indent: 20px; font-size: 260%;}
#meal {color: #00F; font-size: 200%;}
#weight {color:#F00; font-size:270%; }
#energy {color:#000; font-size: 270%;}
